---
---

html {
  font-family: 'Quicksand';
}

.container {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  align-items: center;
}

.site-logo {
  width: 10rem;
  height: 10rem;
  background-image: url(assets/img/hyene.svg);
  background-size: contain;
}

h1 {
  color: #444;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.post-page {
  p {
    line-height: 160%;
  }
}