---
---

html {
  font-family: 'Quicksand';
}

body {
  background-color: #f6f6f6;
}

.container {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 4rem;
  
  flex-direction: column;
  align-items: center;
}

nav {
  text-align: center;
  
  a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
  }
}

.site-logo {
  width: 8rem;
  height: 8rem;
  background-image: url(assets/img/hyene.svg);
  background-size: contain;
}

h1 {
  color: #444;
}

h2 {
  font-weight: 400;
  font-size: 1.8rem;
}

.site-title {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.post-page {
  p {
    line-height: 160%;
  }
}