<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link 
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
  />
  <link rel="stylesheet" href="{{ "/style.css" | relative_url}}" />
  <title>Cynické hyeny</title>
</head>
<body>
  <header class="container">
    <div class="navbar">
      <div class="site-logo"></div>
      <nav>
        <a href={{ "/" | relative_url }}>aktuálně</a>
        <a href={{ "/archiv" | relative_url }}>archiv</a>
        <a href={{ "/o-nas" | relative_url }}>o nás</a>
      </nav>
    </div>
    <h1 class="site-title">{{ page.title }}</h1>
  </header>    
  
  <main class="posts container">
    {{ content }}
  </main>
  
  <footer>
    <div class="container">
      @ 2021 Cynické hyeny
    </div>
  </footer>  
</body>
</html>